In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
marks_df = pd.read_csv("./data/CSC_marks_2019_to_2023.csv")
marks_df

,Unnamed: 0,Unnamed: 1,CSC1010H,CSC1011H,CSC1015F,CSC1016S,CSC1017F,CSC1019F,CSC2001F,CSC2002S,CSC2004Z,CSC3002F,CSC3003S
0,2019,Pass,48,17,556,424,299,0,221,200,182,151,142
1,2019,DNF,2,3,10,41,27,0,2,13,7,5,11
2,2019,Fail,27,6,110,96,51,0,41,32,40,17,28
3,2020,Pass,33,29,906,491,22,123,292,256,0,164,165
4,2020,DNF,4,1,14,57,2,1,8,10,1,2,9
5,2020,Fail,17,5,13,147,1,1,19,61,0,2,8
6,2021,Pass,31,10,847,467,27,122,287,225,504,173,158
7,2021,DNF,1,1,22,30,9,2,6,13,8,12,6
8,2021,Fail,18,14,102,196,7,16,96,131,78,34,52
9,2022,Pass,70,16,748,514,19,137,334,274,235,179,167
10,2022,DNF,0,0,15,13,2,7,7,31,5,10,10
11,2022,Fail,29,2,158,127,23,15,79,111,114,27,54
12,2023,Pass,71,24,759,437,32,148,332,308,317,230,231
13,2023,DNF,0,0,10,4,7,11,1,6,6,1,1
14,2023,Fail,23,22,160,177,20,10,104,124,101,13,39

In [4]:
marks_df.rename(columns={"Unnamed: 0": "Year", "Unnamed: 1": "Grade"}, inplace=True)
marks_df

,Year,Grade,CSC1010H,CSC1011H,CSC1015F,CSC1016S,CSC1017F,CSC1019F,CSC2001F,CSC2002S,CSC2004Z,CSC3002F,CSC3003S
0,2019,Pass,48,17,556,424,299,0,221,200,182,151,142
1,2019,DNF,2,3,10,41,27,0,2,13,7,5,11
2,2019,Fail,27,6,110,96,51,0,41,32,40,17,28
3,2020,Pass,33,29,906,491,22,123,292,256,0,164,165
4,2020,DNF,4,1,14,57,2,1,8,10,1,2,9
5,2020,Fail,17,5,13,147,1,1,19,61,0,2,8
6,2021,Pass,31,10,847,467,27,122,287,225,504,173,158
7,2021,DNF,1,1,22,30,9,2,6,13,8,12,6
8,2021,Fail,18,14,102,196,7,16,96,131,78,34,52
9,2022,Pass,70,16,748,514,19,137,334,274,235,179,167
10,2022,DNF,0,0,15,13,2,7,7,31,5,10,10
11,2022,Fail,29,2,158,127,23,15,79,111,114,27,54
12,2023,Pass,71,24,759,437,32,148,332,308,317,230,231
13,2023,DNF,0,0,10,4,7,11,1,6,6,1,1
14,2023,Fail,23,22,160,177,20,10,104,124,101,13,39

In [5]:
marks_df.dtypes

Year         int64
Grade       object
CSC1010H     int64
CSC1011H     int64
CSC1015F     int64
CSC1016S     int64
CSC1017F     int64
CSC1019F     int64
CSC2001F     int64
CSC2002S     int64
CSC2004Z     int64
CSC3002F     int64
CSC3003S     int64
dtype: object