In [1]:
import pandas as pd

/var/folders/qc/3tnk2l9519xbnncxwpfldfl80000gn/T/ipykernel_72367/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
marks_df = pd.read_csv("./data/CSC_marks_2019_to_2023.csv")
marks_df

,Unnamed: 0,Unnamed: 1,CSC1010H,CSC1011H,CSC1015F,CSC1016S,CSC1017F,CSC1019F,CSC2001F,CSC2002S,CSC2004Z,CSC3002F,CSC3003S
0,2019,Pass,48,17,556,424,299,0,221,200,182,151,142
1,2019,DNF,2,3,10,41,27,0,2,13,7,5,11
2,2019,Fail,27,6,110,96,51,0,41,32,40,17,28
3,2020,Pass,33,29,906,491,22,123,292,256,0,164,165
4,2020,DNF,4,1,14,57,2,1,8,10,1,2,9
5,2020,Fail,17,5,13,147,1,1,19,61,0,2,8
6,2021,Pass,31,10,847,467,27,122,287,225,504,173,158
7,2021,DNF,1,1,22,30,9,2,6,13,8,12,6
8,2021,Fail,18,14,102,196,7,16,96,131,78,34,52
9,2022,Pass,70,16,748,514,19,137,334,274,235,179,167
10,2022,DNF,0,0,15,13,2,7,7,31,5,10,10
11,2022,Fail,29,2,158,127,23,15,79,111,114,27,54
12,2023,Pass,71,24,759,437,32,148,332,308,317,230,231
13,2023,DNF,0,0,10,4,7,11,1,6,6,1,1
14,2023,Fail,23,22,160,177,20,10,104,124,101,13,39

In [3]:
marks_df.rename(columns={"Unnamed: 0": "Year", "Unnamed: 1": "Grade"}, inplace=True)
marks_df

,Year,Grade,CSC1010H,CSC1011H,CSC1015F,CSC1016S,CSC1017F,CSC1019F,CSC2001F,CSC2002S,CSC2004Z,CSC3002F,CSC3003S
0,2019,Pass,48,17,556,424,299,0,221,200,182,151,142
1,2019,DNF,2,3,10,41,27,0,2,13,7,5,11
2,2019,Fail,27,6,110,96,51,0,41,32,40,17,28
3,2020,Pass,33,29,906,491,22,123,292,256,0,164,165
4,2020,DNF,4,1,14,57,2,1,8,10,1,2,9
5,2020,Fail,17,5,13,147,1,1,19,61,0,2,8
6,2021,Pass,31,10,847,467,27,122,287,225,504,173,158
7,2021,DNF,1,1,22,30,9,2,6,13,8,12,6
8,2021,Fail,18,14,102,196,7,16,96,131,78,34,52
9,2022,Pass,70,16,748,514,19,137,334,274,235,179,167
10,2022,DNF,0,0,15,13,2,7,7,31,5,10,10
11,2022,Fail,29,2,158,127,23,15,79,111,114,27,54
12,2023,Pass,71,24,759,437,32,148,332,308,317,230,231
13,2023,DNF,0,0,10,4,7,11,1,6,6,1,1
14,2023,Fail,23,22,160,177,20,10,104,124,101,13,39

In [5]:
columns_to_standardize = marks_df.columns[2:]
columns_to_standardize

Index(['CSC1010H', 'CSC1011H', 'CSC1015F', 'CSC1016S', 'CSC1017F', 'CSC1019F',
       'CSC2001F', 'CSC2002S', 'CSC2004Z', 'CSC3002F', 'CSC3003S'],
      dtype='object')

In [6]:
# Calculate mean and standard deviation
mean = marks_df[columns_to_standardize].mean()
std = marks_df[columns_to_standardize].std()

# Standardize all columns at once
marks_df_scaled = (marks_df[columns_to_standardize] - mean) / std
marks_df_scaled

,CSC1010H,CSC1011H,CSC1015F,CSC1016S,CSC1017F,CSC1019F,CSC2001F,CSC2002S,CSC2004Z,CSC3002F,CSC3003S
0,0.983379,0.721447,0.737491,1.080475,3.552371,-0.675162,0.750858,0.746020,0.512411,0.992911,0.902691
1,-0.977694,-0.721447,-0.807280,-0.897011,-0.129029,-0.675162,-0.909013,-0.990566,-0.675821,-0.753656,-0.788241
2,0.088106,-0.412255,-0.524354,-0.613038,0.195800,-0.675162,-0.613419,-0.814122,-0.451755,-0.610102,-0.568807
3,0.343898,1.958213,1.727729,1.426405,-0.196702,1.425469,1.288989,1.266068,-0.723350,1.148428,1.199572
4,-0.892430,-0.927575,-0.795963,-0.814400,-0.467394,-0.658084,-0.863537,-1.018426,-0.716561,-0.789544,-0.814057
5,-0.338214,-0.515319,-0.798792,-0.349717,-0.480928,-0.658084,-0.780164,-0.544811,-0.723350,-0.789544,-0.826965
6,0.258634,0.000000,1.560803,1.302490,-0.129029,1.408390,1.251093,0.978184,2.698758,1.256093,1.109217
7,-1.020326,-0.927575,-0.773329,-0.953805,-0.372652,-0.641005,-0.878695,-0.990566,-0.669031,-0.669916,-0.852780
8,-0.295582,0.412255,-0.546988,-0.096723,-0.399721,-0.401909,-0.196557,0.105248,-0.193738,-0.406735,-0.259018
9,1.921283,0.618383,1.280707,1.545158,-0.237306,1.664565,1.607321,1.433226,0.872276,1.327870,1.225388
10,-1.062958,-1.030638,-0.793133,-1.041579,-0.467394,-0.555614,-0.871116,-0.823408,-0.689401,-0.693842,-0.801149
11,0.173370,-0.824511,-0.388550,-0.452980,-0.183168,-0.418988,-0.325405,-0.080484,0.050698,-0.490474,-0.233202
12,1.963915,1.442894,1.311829,1.147596,-0.061357,1.852426,1.592162,1.748969,1.429047,1.937972,2.051492
13,-1.062958,-1.030638,-0.807280,-1.088047,-0.399721,-0.487301,-0.916592,-1.055572,-0.682611,-0.801507,-0.917320
14,-0.082422,1.236766,-0.382892,-0.194823,-0.223771,-0.504379,-0.135922,0.040242,-0.037571,-0.657953,-0.426820